
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;

}
li {
  list-style: none;
}

a {
  text-decoration: none;

}

.box {
  
  display: flex;
  justify-content: center;
  align-items: center;
  }
 
 
  .box .group {
    
    width: 1308px;
    height: 1446px;
    top: 0;
    left: 0;
  }
  
  .box .frame {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    top: 17px;
    left: 838px;
  }
  
  .box .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Abyssinica SIL-Regular", Helvetica;
    font-weight: 400;
    color: #00000099;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  .cartegory-right-top-item select {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: #ffff;
    border: 1px solid #dddddd;
}


  .box .div {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .s-p-x-p-ph-bi-n-nh-t {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Abyssinica SIL-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .span {
    color: #00000099;
  }
  
  .box .text-wrapper-2 {
    color: #000000;
  }
  
  .box .img {
    position: relative;
    width: 16px;
    height: 16px;
  }
  
  .box .frame-2 {
    display: flex;
    flex-direction: column;
    width: 295px;
    height: 1220px;
    align-items: flex-start;
    gap: 24px;
    padding: 20px 24px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid;
    border-color: #0000001a;
  }
  
  .box .frame-3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .box .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    font-family: "Roboto-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .frame-4 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .box .line {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    object-fit: cover;
  }
  
  .box .frame-5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .box .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Roboto-CondensedRegular", Helvetica;
    color: #00000099;
    font-size: 16px;
    white-space: nowrap;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .text-wrapper-5 {
    position: relative;
    width: fit-content;
    font-family: "Roboto-CondensedRegular", Helvetica;
    font-weight: 400;
    color: #00000099;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .text-wrapper-6 {
    position: relative;
    width: 38px;
    font-family: "Roboto-CondensedRegular", Helvetica;
    font-weight: 400;
    color: #00000099;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .text-wrapper-7 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Roboto-CondensedRegular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .group-2 {
    position: relative;
    width: 251px;
    height: 40px;
    margin-right: -4px;
  }
  
  .box .text-wrapper-8 {
    position: absolute;
    top: 24px;
    left: 37px;
    font-family: "Roboto-CondensedRegular", Helvetica;
    font-weight: 400;
    color: #000000;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .box .text-wrapper-9 {
    position: absolute;
    top: 24px;
    left: 187px;
    font-family: "Roboto-CondensedRegular", Helvetica;
    font-weight: 400;
    color: #000000;
    text-align: center;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .box .overlap-group-wrapper {
    position: absolute;
    width: 247px;
    height: 20px;
    top: 0;
    left: 0;
  }
  
  .box .overlap-group {
    position: relative;
    height: 20px;
  }
  
  .box .rectangle {
    width: 247px;
    left: 0;
    background-color: #f0f0f0;
    position: absolute;
    height: 6px;
    top: 8px;
    border-radius: 20px;
  }
  
  .box .rectangle-2 {
    width: 150px;
    left: 43px;
    background-color: #000000;
    position: absolute;
    height: 6px;
    top: 8px;
    border-radius: 20px;
  }
  
  .box .ellipse {
    left: 41px;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    background-color: #000000;
    border-radius: 10px;
  }
  
  .box .ellipse-2 {
    left: 187px;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    background-color: #000000;
    border-radius: 10px;
  }
  
  .box .div-wrapper {
    display: flex;
    height: 48px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 16px 54px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #000000;
    border-radius: 62px;
    overflow: hidden;
  }
  
  .box .text-wrapper-10 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .text-wrapper-11 {
    position: absolute;
    height: 40px;
    top: 0;
    left: 309px;
    font-family: "Oxanium-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .group-3 {
    position: absolute;
    width: 936px;
    height: 1295px;
    top: 58px;
    left: 309px;
  }
  
  .box .frame-6 {
    display: inline-flex;
    align-items: center;
    gap: 13px;
    position: absolute;
    top: 349px;
    left: 0;
  }
  
  .box .frame-7 {
    display: inline-flex;
    align-items: flex-start;
    gap: 5.31px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .star {
    width: 17.58px;
    position: relative;
    height: 16.72px;
  }
  
  .box .star-2 {
    width: 8.79px;
    position: relative;
    height: 16.72px;
  }
  
  .box .element {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Satoshi-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .frame-8 {
    display: inline-flex;
    align-items: center;
    gap: 13px;
    position: absolute;
    top: 349px;
    left: 315px;
  }
  
  .box .frame-9 {
    display: inline-flex;
    align-items: center;
    gap: 13px;
    position: absolute;
    top: 349px;
    left: 630px;
  }
  
  .box .frame-wrapper {
    position: absolute;
    width: 295px;
    height: 298px;
    top: 0;
    left: 0;
  }
  
  .box .image-wrapper {
    position: relative;
    height: 298px;
    background-color: #f0eeed;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .box .image {
    width: 294px;
    left: 0;
    position: absolute;
    height: 298px;
    top: 0;
    object-fit: cover;
  }
  
  .box .img-wrapper {
    position: absolute;
    width: 295px;
    height: 298px;
    top: 0;
    left: 315px;
    background-color: #f0eeed;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .box .image-2 {
    width: 295px;
    left: 0;
    position: absolute;
    height: 298px;
    top: 0;
    object-fit: cover;
  }
  
  .box .frame-10 {
    position: absolute;
    width: 295px;
    height: 298px;
    top: 0;
    left: 630px;
    background-color: #f0eeed;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .box .text-wrapper-12 {
    position: absolute;
    height: 30px;
    top: 312px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .text-wrapper-13 {
    position: absolute;
    height: 30px;
    top: 312px;
    left: 315px;
    font-family: "Poppins-Regular", Helvetica;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .text-wrapper-14 {
    position: absolute;
    height: 30px;
    top: 312px;
    left: 630px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .frame-11 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 376px;
    left: 630px;
  }
  
  .box .text-wrapper-15 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Abyssinica SIL-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .text-wrapper-16 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Abyssinica SIL-Regular", Helvetica;
    font-weight: 400;
    color: #00000066;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: line-through;
  }
  
  .box .frame-12 {
    display: flex;
    width: 58px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 6px 14px;
    position: relative;
    background-color: #ff33331a;
    border-radius: 62px;
    overflow: hidden;
  }
  
  .box .text-wrapper-17 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: #ff3333;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .text-wrapper-18 {
    position: absolute;
    height: 30px;
    top: 377px;
    left: 0;
    font-family: "Abyssinica SIL-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .text-wrapper-19 {
    position: absolute;
    height: 30px;
    top: 377px;
    left: 315px;
    font-family: "Abyssinica SIL-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .group-4 {
    position: absolute;
    width: 933px;
    height: 407px;
    top: 444px;
    left: 1px;
  }
  
  .box .frame-13 {
    position: absolute;
    width: 295px;
    height: 298px;
    top: 0;
    left: 0;
    background-color: #f0eeed;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .box .image-3 {
    position: absolute;
    width: 295px;
    height: 290px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .box .frame-14 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 376px;
    left: 0;
  }
  
  .box .text-wrapper-20 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    margin-left: -0.5px;
    margin-right: -0.5px;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: #ff3333;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .group-5 {
    position: absolute;
    width: 939px;
    height: 407px;
    top: 888px;
    left: 0;
  }
  
  .box .frame-15 {
    display: flex;
    width: 58px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 6px 14px;
    position: absolute;
    top: 379px;
    left: 237px;
    background-color: #ff33331a;
    border-radius: 62px;
    overflow: hidden;
  }
  
  .box .image-4 {
    width: 286px;
    left: 9px;
    position: absolute;
    height: 298px;
    top: 0;
    object-fit: cover;
  }
  
  .box .text-wrapper-21 {
    position: absolute;
    height: 30px;
    top: 377px;
    left: 112px;
    font-family: "Abyssinica SIL-Regular", Helvetica;
    font-weight: 400;
    color: #00000066;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    text-decoration: line-through;
  }
  
  .box .text-wrapper-22 {
    position: absolute;
    height: 30px;
    top: 377px;
    left: 630px;
    font-family: "Abyssinica SIL-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .frame-16 {
    display: inline-flex;
    align-items: center;
    gap: 216px;
    position: absolute;
    top: 1406px;
    left: 309px;
  }
  
  .box .button {
    align-items: flex-start;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    all: unset;
    box-sizing: border-box;
  }
  
  .box .button-base {
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 14px;
    background-color: #ffffff;
    overflow: hidden;
    border: 1px solid;
    border-color: #0000001a;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
  }
  
  .box .img-2 {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .box .text {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Roboto-CondensedRegular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .box .pagination-numbers {
    display: inline-flex;
    align-items: flex-start;
    gap: 2px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .box .pagination-number {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #0000000f;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .box .content {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 12px;
    position: relative;
    border-radius: 8px;
  }
  
  .box .number {
    position: relative;
    width: fit-content;
    margin-top: -3px;
    margin-bottom: -1px;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .box .content-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .box .number-2 {
    position: relative;
    width: fit-content;
    margin-top: -3px;
    margin-bottom: -1px;
    font-family: "Satoshi-Medium", Helvetica;
    font-weight: 500;
    color: #00000080;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .box .text-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
  }
  