body {
  background-color: #d9d9d9;
}
/*Định dạng header*/
.header {
  width: 100%;
  height: 100px;
  padding: 5px;
  position: fixed;
  background: #c4ccc6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0 8px rgba(77, 87, 81, 0.5);
}
.header .logo img {
  width: 220px;
}
.header .navbar a {
  color: #444444;
  padding: 15px;
  font-weight: 550;
}
.header .navbar a.active,
.header .navbar a:hover {
  color: white;
  border-bottom: 3px solid #337153;
}
.header .icon a,
.header .icon i {
  cursor: pointer;
  margin-left: 8px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  width: 30px;
  color: #444444;
  border-radius: 50%;
  background: #eee;
}
.header .icon i:hover {
  color: #fff;
  background: #337153;
}
.header .icon #menu {
  display: none;
}
.header .search-form {
  position: absolute;
  top: 110%;
  right: -110%;
  width: 300px;
  padding: 10px;
  height: 50px;
  background: #dceade;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.header .search-form.active {
  right: 2rem;
  transition: 0.4s linear;
}

.header .search-form input {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  font-size: 12px;
  color: #000000;
  padding: 0 1rem;
}
.header .search-form label {
  cursor: pointer;
}
.header .search-form label:hover {
  color: #337153;
}
/*------------------------------------*/

/*Định dang footer*/
footer {
  background-color: #8c9b8f;
  color: #eee;
  height: max-content;
  line-height: 25px;
}
footer .container {
  display: grid;
  grid-template-columns: 35% 15% 25% 25%;
  grid-template-rows: 100px 200px;
  margin: 10px;
  padding-top: 10px;
}
footer .container .social {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
footer .container .social i {
  padding: 10px;
  font-size: 20px;
}
footer .container .dangky {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
footer .container .copyright {
  grid-column: 1/6;
  color: #000000;
  text-align: center;
}
footer .container .thongtin li {
  line-height: 45px;
}

footer .container h3 {
  color: #fff;
  margin-bottom: 10px;
}
footer ul {
  list-style: none;
}
footer a {
  color: #eee;
  transition: 0.3s color, 0.3s transform;
}

footer a:hover {
  transform: scale(1);
  filter: brightness(150%);
  color: #0e0f0e;
  text-decoration: underline;
}
footer input[type="email"] {
  background-color: #e8f0ea;
  border: 1px solid #e8f0ea;
  color: #626262;
  box-sizing: border-box;
  height: 40px;
  padding-left: 12px;
}
footer button {
  background-color: #444444;
  border: 1px solid #444444;
  color: #fff;
  cursor: pointer;
  height: 40px;
  min-width: 60px;
  padding: 11px 10px;
  text-align: center;
  transition: 0.3s background-color;
}
footer button:hover {
  background-color: #e8f0ea;
  color: #444444;
}
footer .dangky p {
  font-style: italic;
  padding-top: 10px;
}
/*------------------------------------*/
/* CSS cho tiêu đề giỏ hàng */
.giỏ-hàng .tiêu-đề-giỏ-hàng {
  background-color: #c4ccc6;
  padding: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 3px; /*giãn chữ*/
  text-align: center;
  color: #666666;
}
/*định dạng cho tiêu đề sản phẩm giảm giá*/
.giỏ-hàng .sản-phẩm-giảm-giá {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #666666;
}
.giỏ-hàng .sản-phẩm-trong-giỏ-total {
  display: flex;
  gap: 75px;
}
/*định dang cho tiêu đề của bản sản phẩm*/
.giỏ-hàng .bảng-sản-phẩm th {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #666666;
  font-size: 80%;
  padding: 5%;
}
/*định dạng cho số tiền tổng*/
.giỏ-hàng #tổng-cộng {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 80%;
  color: #cd5c5c;
}
/*định dạng cho các nội dung trong ô của bảng sản phẩm*/
.giỏ-hàng .bảng-sản-phẩm td {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #444444;
  font-size: 80%;
  padding: 5%;
}
.giỏ-hàng .tatca {
  display: inline;
}
/*định dạng bảng sản phẩm*/
.giỏ-hàng .bảng-sản-phẩm {
  width: 850px;
}
/*định dạng tiêu đề của ô tổng cộng*/
.giỏ-hàng #tiêu-đề-tổng-cộng {
  width: 20%;
}
/*định dạng tên sản phẩm*/
.giỏ-hàng #tên-sản-phẩm {
  width: 180px; /*chiều ngang*/
}

/*định dạng bảng cộng giỏ hàng*/
.giỏ-hàng .cộng-giỏ-hàng {
  width: 400px;
}
.giỏ-hàng .xoa i {
  cursor: pointer; /* Đổi hình con trỏ khi rê chuột vào nút */
}
.giỏ-hàng .tonggio {
  position: relative;
  top: 20px; /* Vị trí từ phía trên */
  width: 450px;
  height: auto;
  left: 50px; /* Vị trí từ phía trái */
}
/*định dạng nội dung trong các ô của bảng cộng giỏ hàng*/
.giỏ-hàng .cộng-giỏ-hàng td {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #666666;
  font-size: 80%;
  padding: 3px;
  text-align: center;
}
/*định dạng cho các tiêu đề của bảng cộng giỏ hàng*/
.giỏ-hàng .cộng-giỏ-hàng th {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #666666;
  font-size: 90%;
  padding: 40px;
}
.giỏ-hàng .text-voucher {
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #666666;
  font-size: 100%;
  vertical-align: middle; /* Đưa chữ về giữa theo chiều dọc */
}

.giỏ-hàng .tatca .voucher {
  position: relative;
  background-color: #c4ccc6;
  padding: 10px;
  display: flex;
  gap: 10px;
  cursor: pointer; /* Đổi hình con trỏ khi rê chuột vào nút */
  transition: background-color 0.3s; /* Thêm hiệu ứng chuyển đổi màu */
}
.giỏ-hàng .voucher:hover {
  background-color: #52ac80;
}
.giỏ-hàng .voucher i {
  color: #666666;
}
.giỏ-hàng .tatca .voucher .next i {
  position: absolute;
  top: 50%;
  right: 25px; /* Điều chỉnh giá trị right để xác định khoảng cách từ bên phải */
  transform: translateY(-50%); /* Để căn giữa theo chiều dọc */
}

/*định dạng bảng trong giỏ hàng*/
.giỏ-hàng table,
th,
td {
  border-bottom: 1px solid #666666;
  border-top: none; /*loại bỏ viền hàng đầu tiên*/
  border-collapse: collapse; /*kiểu 1 viền*/
}
.giỏ-hàng .ô-cộng-giỏ-hàng {
  position: relative;
}
.giỏ-hàng .ô-cộng-giỏ-hàng:before {
  content: "";
  position: absolute;
  left: 0;
  top: 25%; /* Dịch lên 25% chiều cao của ô */
  bottom: 25%; /* Dịch xuống 25% chiều cao của ô */
  width: 50%;
  border-left: 1px solid #666666;
}
.giỏ-hàng .tonggio .tonggio-thanhtoan {
  border: 1px solid #666666; /* Viền 1px với màu xám nhạt */
  padding: 10px; /* Khoảng cách giữa nội dung và viền */
}
.giỏ-hàng .thanhtoan {
  background-color: #337153; /* Màu nền */
  color: #fff; /* Màu chữ */
  padding: 10px 20px; /* Kích thước nút */
  font-size: 16px; /* Kích thước chữ */
  border: none; /* Loại bỏ đường viền */
  border-radius: 20px; /* Bo tròn góc */
  cursor: pointer; /* Đổi hình con trỏ khi hover */
}
.giỏ-hàng .othanhtoan {
  text-align: center;
}
.giỏ-hàng .cộng-giỏ-hàng,
.othanhtoan {
  margin-bottom: 50px; /* Khoảng cách giữa hai div */
}
.giỏ-hàng .thanhtoan:hover {
  background-color: #c4ccc6;
}
.chonsanpham {
  display: flex;
  gap: 20px;
}
.giỏ-hàng .voucher,
.bảng1 {
  margin-bottom: 30px; /* Khoảng cách giữa hai div */
}
/*CSS của VOUCHER CHUNG */
.cacvoucher {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Màu xám của overlay */
  justify-content: center;
  align-items: center;
  z-index: 999; /* Z-index lớn hơn các phần tử khác để nằm trên cùng */
}

.cacvoucher .noidung-voucher {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #c4ccc6;
  padding: 40px;
  border-radius: 50px; /* Bo tròn góc */
  position: relative; /* Cho phép sử dụng position: absolute cho biểu tượng */
  text-align: center;
}

.cacvoucher .voucher1 {
  width: 300px;
  height: 40px;
  background-color: #f4a460;
  text-align: center;
}

.cacvoucher h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #666666;
}
.cacvoucher #ma {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
}
.cacvoucher #mota {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #666666;
  font-size: 13px;
  text-align: center;
}
.cacvoucher #thoigian {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: red;
  font-size: 10px;
  text-align: center;
}

.cacvoucher .nut-apdung {
  background-color: #cd5c5c; /* Màu nền */
  color: #fff; /* Màu chữ */
  padding: 10px 10px; /* Kích thước nút */
  font-size: 16px; /* Kích thước chữ */
  border: none; /* Loại bỏ đường viền */
  border-radius: 20px; /* Bo tròn góc */
  cursor: pointer; /* Đổi hình con trỏ khi hover */
}
.cacvoucher .nut-apdung:hover {
  background-color: #d09898; /* Màu nền */
}
.cacvoucher .voucher12 {
  display: flex;
  gap: 30px;
}
.cacvoucher .voucher34 {
  display: flex;
  gap: 30px;
}
.cacvoucher .voucher56 {
  display: flex;
  gap: 30px;
}
.cacvoucher .voucher12,
.voucher34 {
  margin-bottom: 30px; /* Khoảng cách giữa hai div */
}
.cacvoucher .noidung-voucher .xoa i {
  position: absolute;
  top: 30px; /* Khoảng cách từ trên xuống */
  right: 50px; /* Khoảng cách từ phải sang */
  color: #333;
  cursor: pointer; /* Đổi hình con trỏ khi hover */
}
