body{
    overflow: visible;
}
body .trangthanhtoan .thanhtoan{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:100px;
    padding:70px;
  }

  .tiêu-đề {
    background-color: #c4ccc6;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 3px; /*giãn chữ*/
    text-align: center;
    color: #666666;
    white-space: nowrap;
    height: 50px;
  }
 body p{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: #666666;
    font-size: 13px;
  }
  body table td, th{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: #666666;
    font-size: 13px;
  }
  body  h3{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: #666666;
  }
  body  h4{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: #666666;
  }
  body label{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: #666666;
    font-size: 13px;
  }
  body input{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: #666666;
  }
 
  body form{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: #666666;
    font-size: 13px;
  }
  body  #tongcong{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #CD5C5C;
}

  .thongtinthanhtoan .form-thanhtoan {
    max-width: 550px;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
  }
  .thongtinthanhtoan .form-thanhtoan label {
    display: block;
    padding: 10px;
  }
  .thongtinthanhtoan .form-thanhtoan .tên-họ {
    display: flex;
  }
  .thongtinthanhtoan .form-thanhtoan .tinhthanh-quanhuyen {
    display: flex;
  }
  
  .thongtinthanhtoan .form-thanhtoan input {
    padding: 8px; 
    margin-bottom: 20px;
    border-radius: 20px; /* Bo cong các góc của viền */
    border: 1.5px solid #ccc; /* 1.5px là độ dày, #ccc là màu sắc viền */
    box-sizing: border-box; /* Đảm bảo độ dày và kích thước được tính cả padding */
  }
  .thongtinthanhtoan .form-thanhtoan .tên-họ input {
    width: 100%;
  }
  .thongtinthanhtoan .form-thanhtoan .tinhthanh-quanhuyen input {
    width: 100%;
  }
  .thongtinthanhtoan .form-thanhtoan .diachi input {
    width: 100%;
  }
  .thongtinthanhtoan .form-thanhtoan .email input {
    width: 100%;
  }
  .thongtinthanhtoan .form-thanhtoan .sdt input {
    width: 100%;
  }
  .thongtinthanhtoan .form-thanhtoan .ghichu input {
    width: 100%;
    height:150px;
  }
  .thongtinthanhtoan .form-thanhtoan select {
    padding: 8px; /* Tăng chiều cao của ô input */
    margin-bottom: 20px;
    border-radius: 20px; /* Bo cong các góc của viền */
    border: 1.5px solid #ccc; /* 1.5px là độ dày, #ccc là màu sắc viền */
    box-sizing: border-box; /* Đảm bảo độ dày và kích thước được tính cả padding */
    
    width: 100%;
  }
  .vanchuyen-thanhtoan .donhang{
    width: 500px;
    border: 1.5px solid #ccc; /* Màu sắc và độ dày của khung */
    padding: 20px; /* Khoảng cách giữa nội dung và khung */
    position:relative;
    top: 80px; /* Vị trí từ phía trên */
    width:550px;
   height:auto;
    
  }
 .phần-đầu-donhang{
 text-align: center;
    padding: 10px;
 }
 .donhang .tiêu-đề-donhang{
    display:flex;
    justify-content: space-between; /* Phân chia không gian đều giữa các phần tử */
    align-items: center; /* Canh giữa theo chiều dọc */
 
 }
 .donhang .sanpham{
    display:block
 }
 .donhang .sp1{
    display:flex;
    justify-content: space-between; /* Phân chia không gian đều giữa các phần tử */
    align-items: center; /* Canh giữa theo chiều dọc */
   
 }
 .donhang .sp2{
    display:flex;
    justify-content: space-between; /* Phân chia không gian đều giữa các phần tử */
    align-items: center; /* Canh giữa theo chiều dọc */
 }
 .donhang .vanchuyen{
    padding:10px;
 }
 .donhang .loaivanchuyen{
    float: right;
 }
 .donhang .tamtinh{
    display:flex;
    justify-content: space-between; /* Phân chia không gian đều giữa các phần tử */
    align-items: center; /* Canh giữa theo chiều dọc */
   
 }
 .donhang .giamgia{
    display:flex;
    justify-content: space-between; /* Phân chia không gian đều giữa các phần tử */
    align-items: center; /* Canh giữa theo chiều dọc */
 }
 .donhang .phivanchuyen{
    display:flex;
    justify-content: space-between; /* Phân chia không gian đều giữa các phần tử */
    align-items: center; /* Canh giữa theo chiều dọc */
   
 }
 .donhang .tongcong{
    display:flex;
    justify-content: space-between; /* Phân chia không gian đều giữa các phần tử */
    align-items: center; /* Canh giữa theo chiều dọc */
 }

#logo-thanhtoan{
    float: right;
}

.text-voucher{
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    color: #666666;
    font-size: 13px;
    vertical-align: middle; /* Đưa chữ về giữa theo chiều dọc */
  }
  .voucher{
    position: relative;
    background-color: #C4CCC6;
    padding:10px;
    display:flex; 
    gap: 10px;
    cursor: pointer; /* Đổi hình con trỏ khi rê chuột vào nút */
    transition: background-color 0.3s; /* Thêm hiệu ứng chuyển đổi màu */
  }
  

.voucher:hover{
  background-color: #52ac80;
}

  body  i{
    color:#666666;
}
.vanchuyen-thanhtoan .donhang .voucher .next i {
    position: absolute;
    top: 50%;
    right: 15px; /* Điều chỉnh giá trị right để xác định khoảng cách từ bên phải */
    transform: translateY(-50%); /* Để căn giữa theo chiều dọc */
  }  
 .vanchuyen-thanhtoan .dathang{
    background-color: #337153; /* Màu nền */
      color: #fff; /* Màu chữ */
      padding: 10px 20px; /* Kích thước nút */
      font-size: 16px; /* Kích thước chữ */
      border: none; /* Loại bỏ đường viền */
      border-radius: 20px; /* Bo tròn góc */
      cursor: pointer; /* Đổi hình con trỏ khi hover */
      float:right;
    }
    .dathang:hover {
        background-color: #C4CCC6;
      }
      .pttt-dathang {
        overflow: auto; /* Đảm bảo phần tử không bị tràn */
      }
    .phuongthucthanhtoan, .nut{
     
        margin-bottom:30px; /* Khoảng cách giữa hai div */
      }
    .tiêu-đề, .vanchuyen-thanhtoan{
        margin-bottom: 50px; /* Khoảng cách giữa hai div */
    }
    /*đặt lại vị trí cho thông tin thanh toán*/

.trangthanhtoan .thongtinthanhtoan{
    position:relative;
    top: -200px; /* Vị trí từ phía trên */
    width:550px;
    height: 500px;
    left: 50px; /* Vị trí từ phía trái */
  }
  .nut{
    position: relative;
    display:flex; 
    gap: 286px;

  }
  .quaylai{
    position: relative;
    display:flex; 
    cursor: pointer; /* Đổi hình con trỏ khi rê chuột vào nút */
  }
  .cacvoucher {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Màu xám của overlay */
    justify-content: center;
    align-items: center;
    z-index: 999; /* Z-index lớn hơn các phần tử khác để nằm trên cùng */
  }

  .noidung-voucher{
    display:block;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #C4CCC6;
    padding:40px;
    border-radius: 50px; /* Bo tròn góc */
    position: relative; /* Cho phép sử dụng position: absolute cho biểu tượng */
    text-align: center;
    width:600px;
  }
  

  .voucher1 {
    width: 300px;
    height: 40px;
    background-color: #F4A460;
    border: 1px solid #ccc;
    text-align: center;
  }
 #ma{
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
text-align: center;
  }
  #mota{
    font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  color: #666666;
  font-size: 13px;
  text-align: center;
  }
  #thoigian{
    font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  color: red;
  font-size: 10px;
  text-align: center;
  }
  
  .nut-apdung{
    background-color: #CD5C5C; /* Màu nền */
    color: #fff; /* Màu chữ */
    padding: 10px 10px; /* Kích thước nút */
    font-size: 16px; /* Kích thước chữ */
    border: none; /* Loại bỏ đường viền */
    border-radius: 20px; /* Bo tròn góc */
    cursor: pointer; /* Đổi hình con trỏ khi hover */
  }
  .nut-apdung:hover{
    background-color: #d09898; /* Màu nền */
  }
.voucher12{
display:flex;
gap:30px;
}
.voucher34{
display:flex;
gap:30px;
}
.voucher56{
display:flex;
gap:30px;
}
.voucher12 , .voucher34{
margin-bottom: 30px; /* Khoảng cách giữa hai div */
}
.noidung-voucher .xoa i{
position: absolute;
    top: 30px; /* Khoảng cách từ trên xuống */
    right: 50px; /* Khoảng cách từ phải sang */
    color: #333;
    cursor: pointer; /* Đổi hình con trỏ khi hover */
  }
  
  
