body {
font-family: Arial, sans-serif;
}
h3 {
color: #555;
}
table {
width: 100%;
border-collapse: collapse;
}
th, td {
border: 0px solid black;
padding: 8px;
text-align: center;
vertical-align: middle;
}
th {
background-color: #f2f2f2;
}
.center {
border: 5px solid;
margin: auto;
width: 50%;
padding: 10px;
}
#main-content {
display: flex;
}
#left-sidebar, #right-content {
padding: 15px;
}
#left-sidebar {
width: 20%;
background-color: #f2f2f2;
}
#right-content {
width: 80%;
background-color: #e6e6e6;
margin: auto;
}
.form-group {
margin-bottom: 15px;
vertical-align: middle;
width: 100%;
}
.form-group label {
margin-right: 5px;
margin-left: 5px;
font-size: 12px;
color: #555;
}
.form-group input {
flex: 1;
padding: 6px;
border: 1px solid #ccc;
border-radius: 4px;
margin-left: 5px;
width: 100%;
}
.form-submit {
background-color: #89997e4b;
color: 555;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}
.form-submit:hover {
background-color: #45a049;
}
.button {
display: block;
width: 100%;
padding: 10px;
margin: 10px 0;
text-align: center;
background-color: #89997e4b;
color: #555;
border: none;
border-radius: 5px;
cursor: pointer;
}
.button:hover {
background-color: #45a049;
}
.logo {
text-align: center;
flex-grow: 1; /*Cho phần tử mở rộng để lấp đầy không gian còn lại trong container.*/
}
.logo img {
width: 150px;
}
.search {
order: -1; /*Đặt thứ tự hiển thị của phần tử là đầu tiên trong container.*/
margin-right: auto; /*Đặt lề phải của phần tử là "auto", tức là căn phần tử sang cạnh trái của container.*/
}
.search a {
color:#435334;
}
.wishlist a,
.account a,
.cart a {
order: 2;
margin: 10px;
color:#435334;
}
.nav li {
display:inline; /*Hiển thị các phần tử li theo hàng ngang*/
margin: 3%;      
}
.nav{
text-align: center;
}
.nav a{
text-decoration: none; /*Loại bỏ gạch chân dưới liên kế*/
color:black;
font-weight: 600;  
}
.nav li a:hover {
color:#5f9ea0; /*hiệu ứng đổi màu khi hover chuột vào các phần tử*/
}
ul.sanpham{ /*định dạng danh sách không có thứ tự có class "sanpham". loại bỏ kiểu danh sách mặc định, làm cho các mục danh sách hiển thị dưới dạng các phần tử flex và sắp xếp chúng thành một hàng với khoảng cách giữa các phần tử.*/
    list-style: none;
    display: flex; /*căn chỉnh và xếp chồng các phần tử con bên trong.*/
    flex-wrap: wrap;/*Xếp chồng các phần tử con thành nhiều hàng khi không đủ không gian ngang để chứa tất cả các phần tử trên cùng một hàng.*/
    justify-content: space-between;
  }
.sanpham-item{
    border: 1px solid #BDBDBD;
    padding: 10px 0px 0px;
    margin-bottom: 1.5em;

}
.sanpham-item:hover {/*định dạng các phần tử có class "sanpham-item" khi được hover. Nó thay đổi viền thành 1 pixel solid #4cf799 và đặt màu nền là #ecffe7.*/
    border: 1px solid #526d5e;
    background: #ecffe7;
}
ul.sanpham li{/*định dạng các mục danh sách trong danh sách "sanpham"*/
    flex-basis: 25%;/*mỗi mục chiếm 25% không gian có sẵn*/
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box; /*(bao gồm padding và border trong tổng chiều rộng và chiều cao của phần tử*/
    margin-bottom: 30px;
}
ul.sanpham li img{/*định dạng hình ảnh trong các mục danh sách*/
    max-width: 200px;
    padding:10px;
     -moz-transition: all 0.3s;
     -webkit-transition: all 0.3s;
     transition: all 0.3s;/*áp dụng hiệu ứng transition với thời gian 0.3 giây.*/
}
ul.sanpham li:hover img {/*định dạng hình ảnh trong các mục danh sách khi được hover. */
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
transform: scale(1.1);/* co giãn hình ảnh lên 1.1 lần kích thước ban đầu bằng cách sử dụng thuộc tính transform */
}
ul.sanpham li .sanpham-top{
    position: relative;
    overflow: hidden; /*ẩn bất kỳ nội dung nào vượt quá phần tử*/
}
ul.sanpham li .sanpham-top .sanpham-thumb{
    display: block;
}
ul.sanpham li .sanpham-top .sanpham-thumb img{
    display: block;
}
ul.sanpham li:hover .sanpham-top .sanpham-thumb img{
    filter: opacity(70%);/*áp dụng một hiệu ứng filter giảm độ mờ của hình ảnh xuống còn 70%*/
}
ul.sanpham li .sanpham-top a.mua {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #366b40;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    bottom: -40px;
    width: 100%;
    transition: 0.25s ease-in-out;/*Áp dụng hiệu ứng chuyển đổi trong thời gian 0.25 giây với chế độ chuyển đổi là "ease-in-out".*/
    opacity: 0.85; /* Đặt độ mờ (độ trong suốt) của phần tử là 0.85 (85%).*/
}
ul.sanpham li:hover a.mua{
    bottom: 0px; /*khi di chuột vị trí bottom của liên kết "Mua" được đặt thành 0px, hiển thị phần tử ở vị trí ban đầu.*/
}
ul.sanpham li .sanpham-info {/*Định dạng thông tin sp*/
    padding: 10px 10px;
}
ul.sanpham li .sanpham-info a{
    display: block;
    text-decoration: none;
}
ul.sanpham li .sanpham-info a.sanpham-danhmuc{/*Định dạng danh mục sp*/
    font-size: 13px;
    text-transform: uppercase;/*Chuyển đổi chữ thành viết hoa.*/
    color: #9e9e9e;
    padding: 3px 0px;
   
}
ul.sanpham li .sanpham-info a.sanpham-name{/*Định dang tên sp*/
    color: #334862;
    padding: 3px 0px;
}
ul.sanpham li .sanpham-info .sanpham-gia{/*Định dạng giá sp*/
    color: #111;
    padding: 3px 0px;
    font-weight: 600;
}

#img_card {
    border-radius: 10px;
    width: 100px;
}

.original-price {
    text-decoration: line-through;
    color: grey;
}

.discounted-price {
    color: black;
    font-size: 13px;
    font-weight: bold;
}
.checked {
    color: orange;
  }


.header{
    width:100%;
    height:100px;
    padding:5px;
    position:fixed;
    background:#C4CCC6;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0 8px rgba(77, 87, 81, 0.5);
}
.header .logo img {
    width:220px;
}
.header .navbar a{
    color:#444444;
    padding:15px;
    font-weight:550;
}
.header .navbar a.active,
.header .navbar a:hover{
    color: white;
    border-bottom: 3px solid #337153;

}
.header .icon i{
    cursor:pointer;
    margin-left:8px;
    text-align: center;
    height:30px;
    line-height: 30px;
    width:30px;
    color:#444444;
    border-radius: 50%;
    background:#eee;
 }
.header .icon i:hover{
    color:#fff;
    background:#337153;
 }
.header .icon #menu{
    display:none;
}
.header .search-form{
  position:absolute;
  top:110%; right:-110%;
  width:300px;
  padding:10px;
  height:50px;
  background:#DCEADE;
  border-radius: .5rem;
  overflow:hidden;
  display:flex;
  align-items: center;
}
.header .search-form.active{
  right:2rem;
  transition: .4s linear;
}

.header .search-form input{
  height:100%;
  width:100%;
  background:none;
  border:none;
  font-size: 12px;
  color:#000000;
  padding:0 1rem;
}
.header .search-form label{
  cursor:pointer;
}
.header .search-form label:hover{
  color:#337153;
}
.trangchu .trangchu-slider .slide {
  width:100%;
  padding-top: 70px;
  height:auto ;
  margin: 0 auto;
  position: relative;
}
.trangchu .trangchu-slider img {
   width: 100%;
  height:auto ;
}
.trangchu .trangchu-slider .noidung{
  position: absolute;/*Đặt phần tử .slider-text với vị trí tuyệt đối trong khung cha (.slider), điều này cho phép chúng ta điều chỉnh vị trí của phần tử theo ý muốn.*/
  top: 50%;
  left: 50%; /*Đặt phần tử .slider-text ở giữa theo chiều dọc và ngang bằng cách đặt top và left là 50%. Điều này đưa phần tử vào trung tâm của .slider.*/
  transform: translate(-50%, -50%); /*Dịch chuyển phần tử .slider-text theo chiều ngang và dọc với giá trị translate(50%, 50%). Điều này giúp căn chỉnh phần tử chính xác vào trung tâm của .slider*/
  background-color: rgba(203, 203, 206, 0.8);
  padding: 30px;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s; /*Đặt hiệu ứng chuyển đổi khi hover vào phần tử .slider-text.*/
}
.trangchu .trangchu-slider .noidung span{
  color:#556560;
  font-size: 25px;
  
}
.trangchu .trangchu-slider .noidung h3{
  color:#453b36;
  font-size: 30px;
  padding-top: 10px;
}
.trangchu .trangchu-slider .noidung p{
  color:#3c4c44;
  font-size: 16px;
  padding-top: 20px;
  font-style: italic;
}
.trangchu .trangchu-slider .noidung:hover {
  background-color:rgba(249, 249, 235, 0.8); /*Đặt màu nền của phần tử .slider-text khi hover là màu xám đậm với độ trong suốt 80%.*/
  transform: translate(-50%, -50%) scale(1.1); /*Dịch chuyển và co giãn phần tử .slider-text khi hover để tạo hiệu ứng phóng to*/
}


.slider-button:hover{
  color:#b2c1aa; /*Đặt màu nền của phần tử khi hover*/
}
.swiper-pagination-bullet-active{
  background:#366b40;
}
.swiper-pagination{
  position:relative;

}






/*Về chúng tôi*/
.vechungtoi h2{
  color:#337153;
  padding-bottom: 30px;

}

.vechungtoi .chungtoi{
  margin:40px;
  display:flex;
  gap: 30px;
  align-items: center;
}
.vechungtoi .chungtoi img{
 width:300px;
 height:300px;
 border-radius: 50%;
}
.vechungtoi .chungtoi .noidung{
  text-align: center;
  line-height: 25px;
  color:#555;
}
.vechungtoi .chungtoi a{
  color:#337153;
  font-weight: 600;
  border: 1px solid #54766a;
  padding:10px;
}
.vechungtoi .chungtoi a:hover{
  color:#fff;
  background-color: #366b40;
}

/* Uư điểm */
.uudiem {
  background-color: #8c9b91;
}
.uudiem .uudiem-contain{
  display:flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;

}
.uudiem-contain .dacdiem{
  margin:30px;
  color:#e8f0ea;
}
.uudiem-contain .dacdiem i{
  font-size: 30px;
  padding-bottom: 20px;
}
.uudiem-contain .dacdiem h4{
  font-size: large;
  padding-bottom:10px ;
}
.uudiem-contain .dacdiem:hover,
.uudiem-contain .dacdiem i:hover{
  color:#fff;
  transform: scale(1.2)
}

/*footer*/
footer {
    background-color: #8C9B8F;
    color: #eee;
    height:max-content;
    line-height: 25px;
  }
footer .container{
  display:grid;
  grid-template-columns: 35% 15% 25% 25%;
  grid-template-rows: 100px 200px;
  margin:10px;
  padding-top: 10px;
}
footer .container .social{
  grid-column-start:3 ;
  grid-column-end:4;
  grid-row-start: 2;
  grid-row-end: 3;
}
footer .container .social i{
  padding:10px;
  font-size: 20px;
}
footer .container .dangky{
  grid-column-start: 4;
  grid-column-end:5;
  grid-row-start: 1;
  grid-row-end: 2;
}
footer .container .copyright{
  grid-column:1/6;
  color:#000000;
  text-align: center;
}
footer .thongtin li{
  line-height: 45px;
}

footer .container h3{
    color:#fff;
    margin-bottom:10px;
}
footer ul{
  list-style: none;
}
footer a {
  color: #eee;
  transition: 0.3s color, 0.3s transform;
}

footer a:hover {
  transform: scale(1);
  filter: brightness(150%);
  color: #0e0f0e;
  text-decoration: underline;
}
footer input[type="email"] {
  background-color: #e8f0ea;
  border: 1px solid #e8f0ea;
  color: #626262;
  box-sizing: border-box;
  height: 40px;
  padding-left: 12px;
}
footer button{
  background-color:#444444;
    border: 1px solid #444444;
    color: #fff;
    cursor: pointer;
    height: 40px;
    min-width: 60px;
    padding: 11px 10px;
    text-align: center;
    transition: 0.3s background-color;
  }
footer button:hover{
  background-color:#e8f0ea;
  color:#444444;
}
footer .dangky p{
  font-style: italic;
  padding-top:10px;
}


